{% set 
navList = [
	{
		title: 'Home',
		url:'#'
	},
	{
		title: 'About  Us',
		url:'#'
	},
	{
		title: 'Blog',
		url:'#',
		active:'nav__litem--active'
	},
	{
		title: 'Portfolio',
		url:'#'
	},
	{
		title: 'Contact  US',
		url:'#'
	}
]
%}
{% set 
contentList = [
	{	
		type: 'photopost',
		url:'#',
		title: 'Top  WordPress  Themes  of  2012',
		img: ['../img/img1.png', '../img/img2.png', '../img/img1.png'],
		icon: '../img/icon1.png',
		text: [
			'Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.',
			
			'Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...'
		],
		date: 'April 15, 2012',
		tags: 'Website  |  Design',
		comments: '4'
	},
	{
		type: 'photopost',
		url:'#',
		title: 'Jesus  Typography  Wallpaper  Giveaway!',
		img: ['../img/img2.png'],
		icon: '../img/icon2.png',
		text: [
			'Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.',
			
			'Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...'
		],
		date: 'April 15, 2012',
		tags: 'Website  |  Design',
		comments: '4'
	},
	{
		type: 'quote',
		url:'#',
		icon: '../img/quotes.png',
		text: [
			'Write anything you want here in this quotable area. Something unique you want people to learn 
			about your website or some cool random fact. Its totally up to you. Write anything you want 
			here in this quotable area. Something unique you want people to learn 
			about your website or some cool random fact. Its totally up to you.'
		]	
	},
	{
		type: 'nonimgpost',
		url:'#',
		title: 'Some  of  the  best  freebies  on  the  web',
		icon: '../img/link.png',
		adress: 'www.bestpsdfreebies.com',
		text: [
			'Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.'
		]
	}
]

%}
{%set 
pages = [
	{
		num:'1',
		active:'pagination__page--active',
		url:'#'
	},
	{
		num:'2',
		url:'#'
	},
	{
		num:'3',
		url:'#'	
	}
] 
%}